<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Tester</h1> -<h3>(years)</h3>
            </li>
            <p>Tester Funcional - Grupo Aoniken<p>
        </ul>
        <ul>
            <li>
                <h1>Administrativa</h1> -<h3>(years)</h3>
            </li>
            <p>Administrativa - Anjor SA<p>
        </ul>
        <ul>
            <li>
                <h1>Consultora ERP</h1> -<h3>(years)</h3>
            </li>
            <p>Analista Funcional - OpenOrange<p>
        </ul>
        <ul>
            <li>
                <h1>Responsable de administración</h1> -<h3>(years)</h3>
            </li>
            <p>Administración general - Repuesto y Autopartes<p>
        </ul>
    </div>
</div>
