<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Lic. en Organización industrial</h1> -<h3>(Cursado finalizado, tesis en proceso)</h3>
            </li>
            <p>UTN- Facultad Regional Bahía Blanca<p>
        </ul>
        <ul>
            <li>
                <h1>BH Comunicación, Arte y Diseño</h1> -<h3>(Finalizado)</h3>
            </li>
            <p>Escuela Normal Superior "Vicente Fatone"<p>
        </ul>

    </div>
</div>
