<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Tester</h2> -<h4>(years)</h4>
            </li>
            <p>Tester Funcional - Grupo Aoniken<p>
        </ul>
        <ul>
            <li>
                <h2>Administrativa</h2> -<h4>(years)</h4>
            </li>
            <p>Administrativa - Anjor SA<p>
        </ul>
        <ul>
            <li>
                <h2>Consultora ERP</h2> -<h4>(years)</h4>
            </li>
            <p>Analista Funcional - OpenOrange<p>
        </ul>
        <ul>
            <li>
                <h2>Responsable de administración</h2> -<h4>(years)</h4>
            </li>
            <p>Administración general - Repuesto y Autopartes<p>
        </ul>
    </div>
</div>
