<div class="row">
    <div class="col-xs12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.JPG"  class="img-fluid" id="fotoperfil">

    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Tester Funcional</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 id="tituloBio">Acerca de mi...</h1>
            <p id="bio">TESTER por sobre todas las cosas.<br>
              Además soy un poco Licenciada en Organización Industrial, y un poco analista funcional.
            </p>
        </span>
    </div>
</div>
