.gradient-custom {
    /* fallback for old browsers */
    background: #b8cb11;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(131, 141, 94), rgb(218, 240, 26));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(131, 141, 94), rgba(218, 240, 26))
    }