<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Lic. en Organización industrial</h2> -<h4>(Cursado finalizado, tesis en progreso)</h4>
            </li>
            <p>UTN- Facultad Regional Bahía Blanca<p>
        </ul>
        <ul>
            <li>
                <h2>BH Comunicación, Arte y Diseño</h2> -<h4>(Finalizado)</h4>
            </li>
            <p>Escuela Normal Superior "Vicente Fatone"<p>
        </ul>

    </div>
</div>
