<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col -sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="95"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#FFC300'"
  [innerStrokeColor]="'#4B4A47'"
  [animation]="true"
  [animationDuration]="300"
  [title]="'INGLÉS'"
  [titleColor]="'#4B4A47'"
  [showUnits]="false"
  [showSubtitle]="false"
></circle-progress>
<div class="text-center col -sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="60"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#FFC300'"
  [innerStrokeColor]="'#4B4A47'"
  [animation]="true"
  [animationDuration]="300"
  [title]="'SQL'"
  [titleColor]="'#4B4A47'"
  [showUnits]="false"
  [showSubtitle]="false"
></circle-progress>
</div>
<div class="text-center col -sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="80"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#FFC300'"
  [innerStrokeColor]="'#4B4A47'"
  [animation]="true"
  [animationDuration]="300"
  [title]="'DOCUMENTACION'"
  [titleColor]="'#4B4A47'"
  [showUnits]="false"
  [showSubtitle]="false"
></circle-progress>
</div>
<div class="text-center col -sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="100"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#E88193'"
  [innerStrokeColor]="'#4B4A47'"
  [animation]="true"
  [animationDuration]="300"
  [title]="'EFICIENCIA'"
  [titleColor]="'#4B4A47'"
  [showUnits]="false"
  [showSubtitle]="false"
></circle-progress>
</div>
<div class="text-center col -sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="100"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#E88193'"
  [innerStrokeColor]="'#4B4A47'"
  [animation]="true"
  [animationDuration]="300"
  [title]="'ORGANIZACIÓN'"
  [titleColor]="'#4B4A47'"
  [showUnits]="false"
  [showSubtitle]="false"
></circle-progress>
</div>
</div>
<div class="text-center col -sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="100"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#E88193'"
  [innerStrokeColor]="'#4B4A47'"
  [animation]="true"
  [animationDuration]="300"
  [title]="'TRABAJO EN EQUIPO'"
  [titleColor]="'#4B4A47'"
  [showUnits]="false"
  [showSubtitle]="false"
></circle-progress>
</div>
</div>