<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/ArgentinaPrograma.png" id="logoAP">
        </div>
        <div class="redes">
                <a href=""><img src="../../../assets/socialLI.png" alt="linkedin"></a>
                <a href=""><img src="../../../assets/socialIG.png" alt="instagram"></a>
                <a href=""><img src="../../../assets/socialtw.png" alt="twitter"></a>
                <a href=""><img src="../../../assets/socialFB.png" alt="facebook"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESAR</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()"*ngIf="isLogged">SALIR</button>
        </div>

    </div>isL

</div>


